<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- <link  rel="stylesheet"  href="module.css" /> -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="lib/require.min.js"></script>
</head>

<body >
    <p>hello world!</p>
    <!--一级内容，将菜单栏填到这个位置 -->
    <div ui-view></div>
    <!-- <script src="vendor.js"></script>
    <script src="main.js"></script>
    <script src="businessAll.js"></script> -->
</body>

</html>