/* .myFont {
  color: red;
} */

.myFontImg {
  background-image: url("../image/photo.jpg");
  height: 500px;
  max-width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: coral;
}
.cti-fl-left {
  float: left;
}
.cti-fl-right {
  float: right;
}
.clearfix {
  clear: both;
}
.ac-display-inblock {
  display: inline-block;
}
.divnofloat {
  float: none;
}
.part {

}
.part:after {
  clear: both;
}
